In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import re
from sklearn.model_selection import train_test_split
from sklearn import preprocessing as pp
from sklearn import svm
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier

from statsmodels.stats.stattools import durbin_watson
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa import arima_model
from statsmodels.graphics.api import qqplot

In [2]:
data=pd.read_csv('AMZN.csv')
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-07-02,2912.010010,2955.560059,2871.100098,2890.300049,2890.300049,6593400
1,2020-07-06,2934.969971,3059.879883,2930.000000,3057.040039,3057.040039,6880600
2,2020-07-07,3058.550049,3069.550049,2990.000000,3000.120117,3000.120117,5257500
3,2020-07-08,3022.610107,3083.969971,3012.429932,3081.110107,3081.110107,5037600
4,2020-07-09,3115.989990,3193.879883,3074.000000,3182.629883,3182.629883,6388700